---
 name: Set additional Ceph configuration if single host
  set_fact:
    additional_ceph_configurations: 
      - who: "global"
        option: "mon_max_pg_per_osd"
        value: "512"
  when: single_host_defaults | default(false)
  run_once: true

- name: Merge additional Ceph configuration with main configurations
  set_fact:
    ceph_configurations: "{{ ceph_configurations | default([]) + additional_ceph_configurations | default([]) }}"
  when: single_host_defaults | default(false)
  run_once: true

- name: Set Ceph configuration options
  ceph_config:
    action: set
    who: "{{ item.who }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  loop: "{{ ceph_configurations }}"
  tags: configure_ceph
  delegate_to: "{{ groups['admin'][0] }}"
  run_once: true


- name: Get Ceph configuration options
  ceph_config:
    action: get
    who: "{{ item.who }}"
    option: "{{ item.option }}"
  loop: "{{ ceph_configurations }}"
  register: ceph_config_results
  tags: configure_ceph
  delegate_to: "{{ groups['admin'][0] }}"
  run_once: true


- name: Print current Ceph configuration settings
  debug:
    msg: "The value of '{{ item.item.option }}' for '{{ item.item.who }}' is {{ item.stdout }}"
  loop: "{{ ceph_config_results.results }}"
  tags: configure_ceph
  delegate_to: "{{ groups['admin'][0] }}"
  run_once: true
