# ceph_role/tasks/main.yml
---
- import_tasks: register_rhel.yml
  tags: 
    - rhel_registration
- import_tasks: update_os.yml
  tags:
    - update_os
- import_tasks: enable_ibm_ceph_repo.yml
  tags:
    - enable_ibm_repo
  when: ceph_release == "ibm"
- import_tasks: bootstrap.yml
  tags: 
    - bootstrap
- import_tasks: add_hosts.yml
  tags: 
    - add_hosts
- import_tasks: apply_service_spec_osd.yml
  tags:
    - add_osd
- import_tasks: apply_service_spec_rgw.yml
  tags:
    - add_rgw
- import_tasks: apply_service_spec_ingress.yml
  tags:
    - add_ingress
- import_tasks: configure_ceph.yml
  tags:
    - configure_ceph
