service_type: ingress
service_id: {{ ingress_id }}
placement:
  label: ingress
spec:
  backend_service: {{ backend_service }}
  virtual_ip: {{ virt_ip }}
#  virtual_ips_list:
#    - {{ virt_ip }}
  monitor_port: 1967
  frontend_port: {{ frontend_port }}
  ssl_cert: |
    {{ ssl_cert | replace('\n', '\n    ') }}
